.baseViewRoot {
  width: 33.33%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: var(--half-spacing);
  padding-left: 24px;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  &:nth-child(1) {
    left: 0;
  }

  &:nth-child(2) {
    left: 33.33%;
  }

  &:nth-child(3) {
    left: 66.66%;
  }
}

.section {
  padding: 8px;
  text-align: left;
}

.sectionTitle {
  text-align: center;
  font-size: 32px;
}

.sectionInput {
  position: relative;

  input {
    text-align: left;
    font-size: 32px;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    color: var(--terminal-colour);
    border-bottom: solid 2px var(--terminal-colour);
  }
}

.inputArrow {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: var(--terminal-colour);
}

.sectionRow {
  display: flex;
  flex: 1;
}

.sectionMath {
  flex: 1;
  white-space: pre;
}

.sectionVisual {
  flex: 1;
}
