.baseViewRoot {
  width:;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 8px;
    border: solid 1px red;
    height: 100%;
  }
}
