.baseViewRoot {
  width: 33.33%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: var(--half-spacing);
  padding-left: 24px;

  &:nth-child(1) {
    left: 0;
  }

  &:nth-child(2) {
    left: 33.33%;
  }

  &:nth-child(3) {
    left: 66.66%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: var(--half-spacing);

    &:nth-child(1) {
      padding-top: var(--half-spacing);
    }
  }

  .section {
    padding: var(--half-spacing);
    text-align: left;
  }

  .sectionTitle {
    text-align: center;
    font-size: 32px;
  }

  .sectionInput {
    position: relative;

    &::before {
      content: '›';
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%) translateX(-4px);
      font-size: 32px;
      color: var(--terminal-colour);
      opacity: 0;
      transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    }

    &:has(input:focus)::before {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }

    input {
      text-align: left;
      font-size: 32px;
      background: transparent;
      border: none;
      outline: none;
      color: var(--terminal-colour);
      border-bottom: solid 1px var(--border-colour);
      transition: all 0.2s ease;
      width: 100%;

      &:focus {
        border-bottom-color: var(--terminal-colour);
        border-bottom-width: 2px;
      }
    }
  }

  .sectionRow {
    display: flex;
    flex: 1;
  }

  .sectionMath {
    flex: 1;
    white-space: pre;

    .mathTerms {
      position: relative;
      line-height: 1.75;
      width: max-content;

      strong {
        color: var(--terminal-colour);
      }

      sup {
        line-height: 0;
      }

      .termOpen {
        margin-right: 0.3ch;
      }

      .termClose {
        margin-left: 0.3ch;
      }

      .digitHighlight {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(2ch - 9px);
        border: 1px dashed var(--terminal-colour);
        pointer-events: none;
      }
    }

    .mathTotal {
      font-weight: bold;
      border-top: 1px solid var(--border-colour);
      margin-top: 0.5em;
      padding-top: 0.5em;
      text-align: right;
    }
  }

  .sectionVisual {
    flex: 1;
  }
}
