.navigationRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  border-bottom: var(--section-border);

  h1 {
    font-size: 36px;
    margin-top: 6px;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    .separator {
      width: 0;
      align-self: stretch;
      border-left: solid 1px var(--gray-10);
    }

    .switchGroup {
      display: flex;
      align-items: center;
      gap: var(--space-2);

      sup {
        line-height: 0;
      }
    }
  }
}
