.shellRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .mainLayout {
    position: relative;
    flex: 1;
    margin: var(--half-spacing);
  }

  .swapColumnsButton {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
    color: var(--text-colour);
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(1) {
      left: 33.33%;
    }

    &:nth-of-type(2) {
      left: 66.66%;
    }
  }
}
