.shellRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .mainLayout {
    position: relative;
    flex: 1;
    margin: var(--half-spacing);
    /* max-width: 1200px; */
  }

  .swapColumnsButtonWrapper {
    position: absolute;
    top: 68px;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;

    &:nth-last-of-type(2) {
      left: 33.33%;
    }

    &:nth-last-of-type(1) {
      left: 66.66%;
    }
  }

  .swapColumnsButton {
    border: none;
    background: transparent;
    color: var(--text-colour);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
