.shellRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .shellContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    main {
      display: flex;
      flex: 1;
      height: calc(100vh - 116px);
      overflow-y: auto;
    }
  }

  footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    border-top: var(--section-border);
    font-size: 0.8rem;
  }

  .systemDivider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: var(--space-2);

    .border {
      width: 1px;
      border-right: var(--section-border);
      flex: 1;
    }
  }
}
