.shellRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .mainLayout {
    position: relative;
    flex: 1;
    margin: var(--half-spacing);
    /* TODO: Fix the main layout width to 1200px, and wrap the content for mobile devices */
    /* max-width: 1200px; */
  }

  .systemDivider {
    position: absolute;
    top: -8px;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-last-of-type(2) {
      left: 33.33%;
    }

    &:nth-last-of-type(1) {
      left: 66.66%;
    }
  }

  .swapColumnsButton {
    border: none;
    background: transparent;
    color: var(--text-colour);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
