.shellRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-colour);
  color: var(--text-colour);

  .mainLayout {
    position: relative;
    flex: 1;
    /* TODO: Fix the main layout width to 1200px, and wrap the content for mobile devices */
    /* max-width: 1200px; */
  }

  .systemDivider {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    &:nth-last-of-type(2) {
      left: 33.33%;
    }

    &:nth-last-of-type(1) {
      left: 66.66%;
    }

    .border {
      width: 1px;
      border-right: dashed 1px var(--text-colour);
      flex: 1;
    }

    .swapColumnsButton {
      border: none;
      background: transparent;
      color: var(--text-colour);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      transition: color 0.2s ease;
      /* border-radius: 50%;
      border: dashed 1px var(--text-colour); */

      &:hover {
        color: var(--terminal-colour);
      }
    }
  }
}
