.radix-themes {
  --default-font-family: 'IBM Plex Mono', monospace;
  --heading-font-family: 'Bebas Neue', sans-serif;
}

/* Typography */
body {
  font-feature-settings: 'liga' 0;
  line-height: 1.7;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.1;
  }
}
