:root {
  /* Base */
  --sizing-unit: 16px;

  /* Font & Line Sizes */
  --size-12: calc(var(--sizing-unit) * 0.75);
  --size-14: calc(var(--sizing-unit) * 0.875);
  --size-16: calc(var(--sizing-unit) * 1);
  --size-18: calc(var(--sizing-unit) * 1.125);
  --size-20: calc(var(--sizing-unit) * 1.25);
  --size-22: calc(var(--sizing-unit) * 1.375);
  --size-24: calc(var(--sizing-unit) * 1.5);
  --size-26: calc(var(--sizing-unit) * 1.625);
  --size-28: calc(var(--sizing-unit) * 1.75);
  --size-32: calc(var(--sizing-unit) * 2);
  --size-34: calc(var(--sizing-unit) * 2.125);
  --size-36: calc(var(--sizing-unit) * 2.25);
  --size-40: calc(var(--sizing-unit) * 2.5);
  --size-44: calc(var(--sizing-unit) * 2.75);
  --size-46: calc(var(--sizing-unit) * 2.875);

  /* Spacing */
  --half-spacing: calc(var(--sizing-unit) / 2);
  --default-spacing: calc(var(--sizing-unit) * 1);
  --moderate-spacing: calc(var(--sizing-unit) * 1.5);
  --large-spacing: calc(var(--sizing-unit) * 2);
  --extra-large-spacing: calc(var(--sizing-unit) * 4);

  /* Theme */
  --background-colour: #272325;
  --text-colour: #fff6e6;
  --terminal-colour: #4af262;
  --highlight-colour: #ffe337;
  --border-colour: #858585;
}

[data-theme='light'] {
  --background-colour: #fff6e6;
  --text-colour: rgba(0, 0, 0, 0.75);
}

/* Typography */
body {
  font-family: 'IBM Plex Mono', monospace;
  font-feature-settings: 'liga' 0;
  line-height: 1.7;
  font-weight: 300;
  font-style: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.1;
  }
}
