/* Radix Themes Overrides */
.radix-themes {
  --default-font-family: 'IBM Plex Mono', monospace;
  --heading-font-family: 'Bebas Neue', sans-serif;
  --default-font-weight: 300;
}

.dark,
.dark-theme {
  --color-background: #272325;
}

/* Variables */
:root {
  --section-border: dashed 1px var(--gray-9);
}

/* Typography */
body {
  font-feature-settings: 'liga' 0;
  line-height: 1.7;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.1;
  }

  button,
  input {
    font-family: var(--default-font-family);
  }
}
